RewriteEngine On

# Redirigir todas las solicitudes a un único script (por ejemplo, index.php)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]